body {
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;
    width:97%;
    height:650px;
  }
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3{
    float: right;
    clear:right;
}
aside{
    text-align: right;
    width: 70%;
    padding-right: .5rem;
    margin-right: .5rem;
    float: right;
    font-style: italic;
    color: black;
}
#name1{
    text-align: left;
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: left;
}
#name2{
    text-align: left;
    float: left;
    padding-left: .5rem;
    margin-left: .5rem;
}
@media only screen and (maz-device-width: 400px){
    body{
        width: 480px;
}
nav, section, header, footer{
    margin: 0 10px 0 10px;
}
#sidebar, #posts{
    float: none;
    width: 100%;
}
}